@font-face {
  font-family: "iconfont"; /* Project id 3461847 */
  src: url('iconfont.woff2?t=1655106671097') format('woff2'),
       url('iconfont.woff?t=1655106671097') format('woff'),
       url('iconfont.ttf?t=1655106671097') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongtuisong:before {
  content: "\e600";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-anchor:before {
  content: "\e692";
}

.icon-duihua:before {
  content: "\e640";
}

.icon-wangluo:before {
  content: "\e62e";
}

.icon-weixiao:before {
  content: "\e641";
}

.icon-dingbu:before {
  content: "\e614";
}

.icon-zhifubao:before {
  content: "\e8e4";
}

.icon-youjian_o:before {
  content: "\ebca";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-dianhua:before {
  content: "\e8c3";
}

.icon-Google:before {
  content: "\e602";
}

